.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;

  button {
    float: right; // Consider using flexbox instead of float for better layout control
    background-color: white;
    color: #050f0b;
    transition: background-color 0.3s, color 0.3s; // Add smooth transitions
  }

  button:hover {
    background-color: #5000ca;
    color: white;
  }

  fieldset {
    background-color: white;
    border: none; // Remove default border if needed for aesthetics
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%; // Ensures all form controls take full width
}

form {
  width: 100%; // Keep this to ensure form takes full width
}

.body-form {
  width: 100%; // Keep this to ensure body form takes full width
  margin-bottom: 15px; // Maintain margin for spacing
}
